* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0 auto;
}

html,
body {
	font-family: 'Droid Serif';
	color: #343434;
	font-size: 1.1em;
	line-height: 1.6;
	overflow-x: hidden;
}

body {
	background-color: #e1dfd8;
	color: #191919;
	margin-left: 250px;
}

nav {
	background-color: #273027;
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	display: flex;
}

header {
	background-color: #6d8f6b;
}

.main {
	width: 100%;
	height: 100%;
}

footer {
	background-color: #191919;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 150px;
	position: absolute;
	bottom: 0px;
	width: 100%;
}

h1 {
	font-size: 1em;
	text-align: center;
	margin: 0;
	line-height: 0;
}

h2 {
	font-size: 1.5em;
	margin: 1em 0 0;
}

span {
	font-size: 20px;
	cursor: pointer;
	position: absolute;
	top: 28px;
	left: 20px;
	transition: all 0.3s ease;
	z-index: 2;
}

header {
	display: flex;
	align-items: center;
	justify-content: center;
	max-height: 90px;
	width: 100%;
}

ul a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

nav a:hover {
	color: #f1f1f1;
}

nav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

.container {
	transition: margin-left 0.5s;
	padding: 16px;
}

.closedNav {
	width: 0%;
	overflow: hidden;
	height: 100vh;
}

.openNav {
	width: 20%;
	overflow: hidden;
	height: 100vh;
}
